.container {
   display: flex;

   align-items: center;
   flex-direction: column;
   justify-content: center;

   width: 100%;
   height: 100vh;
}

.forgotEmail input {
   margin-bottom: 25px;
}

.link {
   padding-top: 15px;
}

.success {
   text-align: center;
   color: lawngreen;
   font-weight: bold;
   margin-bottom: 20px;
}

.error {
   color: red;
   font-weight: bold;
   margin-bottom: 20px;
}

.preloader {
   color: orange;
   font-weight: bold;
   margin-bottom: 20px;
}
